@import url('https://fonts.googleapis.com/css?family=Handlee:100,300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Barlow:100,300,400,500,700');

%font-headline {
  font-family: 'Handlee', sans-serif;
  font-weight: 400;
  font-style: normal;
}

%font-text {
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  font-style: normal;
}
