<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="ketoHubApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="ketoHubApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="ketoHubApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="ketoHubApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>KetoHub</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="app.css">
  <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png" href="favicon-196x196.png" sizes="196x196" />
  <link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="favicon-128.png" sizes="128x128" />
  <meta name="application-name" content="KetoHub"/>
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="mstile-144x144.png" />
  <meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
  <meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
  <meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
  <meta name="msapplication-square310x310logo" content="mstile-310x310.png" />
  <!-- Begin Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-105245506-1', 'auto');
    ga('require', 'outboundLinkTracker');
    ga('send', 'pageview');
  </script>
  <script async src="third_party/autotrack.custom.js"></script>
  <!-- End Google Analytics -->
</head>
<body ng-controller="ketoHubCtrl" ng-cloak>
  <div class="navbar">
    <a class="navbar-brand" href="#">KetoHub</a>
  </div>
  <div class="container">
    <div class="btn-group-lg text-center"
      role="group" aria-label="Recipe categories">
      <button type="button"
              ng-repeat="item in categories"
              ng-click="selectCategory(item)"
              class="btn btn-secondary recipe-categories"
              ng-class="getCategoryClass(item)">
        {{ item | capitalize }}s
      </button>
    </div>
  </div>
  <p>&nbsp;</p>
  <div class="container recipes">
    <div
      class="well"
      ng-repeat="(key, recipe) in recipes | filter:categoryFilterFn | range:currentPage:pageSize">
      <div class="row">
        <div class="col-xs-6 col-md-4">
          <a ng-href="{{ recipe.url }}" target="_blank">
            <img ng-src="{{ recipe.thumbnailUrl }}" alt="{{ recipe.title }}" src="#" class="img-responsive">
          </a>
        </div>
        <div class="col-xs-6 col-md-8">
          <h2>{{ recipe.title }}</h2>
          <a ng-href="{{ recipe.url }}" target="_blank">
            <p>{{ recipe.url | rootDomain }}</p>
          </a>
        </div>
      </div>
    </div>
    <div class="pull-right btn-group">
      <a ng-repeat="page in recipes | filter:categoryFilterFn | pageCount:pageSize"
         ng-click="selectPage($index + 1)" class="btn btn-default"
         ng-class="getPageClass($index + 1)">
         {{ $index + 1 }}
      </a>
    </div>
  </div> <!-- /container -->
  <!-- Begin MailChimp Signup Form -->
  <div id="mc_embed_signup">
    <form action="//mtlynch.us16.list-manage.com/subscribe/post?u=827c54a25e4f8abbb83d878c4&amp;id=c6ee22ca72" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
        <label for="mce-EMAIL">KetoHub is brand new!<br/>Subscribe to our newsletter to find out when we add new features.</label>
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_827c54a25e4f8abbb83d878c4_c6ee22ca72" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
      </div>
    </form>
  </div>
  <!--End mc_embed_signup-->
  <hr>
  <div class="container">
    <p class="text-muted text-center">
      We want to hear your ideas for KetoHub! Email us at <a href="mailto:contact@ketohub.io">contact@ketohub.io</a>.</p>
  </div>
  <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
  <script>
    var config = {
      apiKey: "AIzaSyCglK8ZkZfL6QWWyEZf26z1BMPYFQM6wTw",
      authDomain: "ketohub.firebaseapp.com",
      databaseURL: "https://ketohub.firebaseio.com",
      projectId: "ketohub",
      storageBucket: "ketohub.appspot.com",
      messagingSenderId: "1012588055483"
    };
    firebase.initializeApp(config);
    var ref = firebase.database().ref();
  </script>
  <script src="app.js"></script>
</body>
</html>
