<div class="container">
    <!-- Photo by https://unsplash.com/@ninjason -->
    <img class="img-fluid rounded float-right" src="assets/img/jason-leung-369162.jpg" alt="Steak dish" />
  <h1>Find the best keto recipes</h1>
  <p>KetoHub brings together keto recipes from across the web so you can browse them all in one place.</p>
</div>

<div class="spacer">&nbsp;</div>

<div class="container">
    <!-- Photo by https://unsplash.com/@carolineattwood -->
    <img class="img-fluid rounded float-left" src="assets/img/caroline-attwood-301746.jpg" alt="Steak dish" />
    <h1>100% Keto</h1>
    <p>All of KetoHub's recipes are keto-friendly. No more filtering through high-carb meals to find the food you want.</p>
</div>

<div class="spacer">&nbsp;</div>

<div class="container">
    <!-- Photo by https://unsplash.com/@epicantus -->
    <img class="img-fluid rounded float-right" src="assets/img/daria-nepriakhina-6030.jpg" alt="Mailboxes" />
  <h1>Contact Us</h1>
  <p>We want to hear your ideas for KetoHub. Email us at <a href="mailto:contact@ketohub.io">contact@ketohub.io</a></p>
</div>

<div class="spacer">&nbsp;</div>