<div class="content">
  <div class="btn-group-lg"
       role="group" aria-label="Recipe categories">
    <button type="button"
            *ngFor="let item of categories"
            (click)="selectCategory(item)"
            [ngClass]="['btn recipe-categories', getCategoryClass(item)]">
      {{ item }}s
    </button>
  </div>
  <div class="form-group" class="my-3">
    <input type="text" id="keywords" placeholder="Search by recipe title or ingredient" class="form-control" [(ngModel)]="keywordsRaw" (ngModelChange)="updateSearchParams($event)">
  </div>
  <div *ngIf="keywordsRaw && keywordsRaw.length > 0">
    <p>Found {{ recipes.length }} matching recipes</p>
  </div>
  <div *ngIf="loaded">
    <ngb-pagination
      [boundaryLinks]="true"
      [directionLinks]="true"
      [collectionSize]="recipes.length"
      [(page)]="currentPage"
      [pageSize]="pageSize"
      [maxSize]="maxPageButtons"
      [ellipses]="false"
      [rotate]="true">
    </ngb-pagination>
    <div class="recipes">
      <div
        class="card recipe"
        [ngClass]="['card recipe', getCardClass()]"
        *ngFor="let recipe of recipes | range:currentPage:pageSize">
        <a [href]="recipe.url" target="_blank" rel="noopener">
          <img
            [src]="recipe.thumbnailUrl"
            [attr.alt]="recipe.title"
            src="#"
            class="img-responsive card-img-top img-fluid">
        </a>
        <div class="card-block">
          <h3 class="card-title">
            <a [href]="recipe.url" target="_blank" rel="noopener">
              <div innerHTML="{{ recipe.title | highlightedResult : searchParams }}"></div>
            </a>
          </h3>
          <div
            *ngIf="matchingIngredients(recipe.ingredients).length > 0"
            class="card-text ingredients">
            <b>Ingredients</b>
            <ul>
              <li
                *ngFor="let ingredient of matchingIngredients(recipe.ingredients)">
                <div innerHTML="{{ ingredient | capitalize | highlightedResult : searchParams}}"></div>
              </li>
            </ul>
          </div>
          <footer>
            <small class="text-muted">
              Published {{ recipe.publishedTime | timeSince }} ago on <a [href]="recipe.url" target="_blank" rel="noopener">{{ recipe.url | rootDomain }}</a>
            </small>
          </footer>
        </div>
      </div>
    </div>
    <div class="spacer"></div>
    <ngb-pagination
      [boundaryLinks]="true"
      [directionLinks]="true"
      [collectionSize]="recipes.length"
      [(page)]="currentPage"
      [pageSize]="pageSize"
      [maxSize]="maxPageButtons"
      [ellipses]="false"
      [rotate]="true">
    </ngb-pagination>
  </div>
</div>
