<div class="content">
  <div class="btn-group-lg"
       role="group" aria-label="Recipe categories">
    <button type="button"
            *ngFor="let item of categories"
            (click)="selectCategory(item)"
            [ngClass]="['btn recipe-categories', getCategoryClass(item)]">
      {{ item }}s
    </button>
  </div>
  <div class="form-group" class="my-3">
    <input type="text" id="keywords" placeholder="Search by recipe title or ingredient" class="form-control" [(ngModel)]="keywordsRaw" (ngModelChange)="updateSearchParams($event)">
  </div>
  <div *ngIf="keywordsRaw && keywordsRaw.length > 0">
    <p>Found {{ recipes.length }} matching recipes</p>
  </div>
  <div *ngIf="loaded">
    <ngb-pagination
      [boundaryLinks]="true"
      [directionLinks]="true"
      [collectionSize]="recipes.length"
      [(page)]="currentPage"
      [pageSize]="pageSize"
      [maxSize]="maxPageButtons"
      [ellipses]="false"
      [rotate]="true">
    </ngb-pagination>
    <div class="recipes">
      <app-recipe-card
        [recipe]="recipe"
        [searchKeywords]="getKeywords()"
        *ngFor="let recipe of recipes | range:currentPage:pageSize">
      </app-recipe-card>
    </div>
    <div class="spacer"></div>
    <ngb-pagination
      [boundaryLinks]="true"
      [directionLinks]="true"
      [collectionSize]="recipes.length"
      [(page)]="currentPage"
      [pageSize]="pageSize"
      [maxSize]="maxPageButtons"
      [ellipses]="false"
      [rotate]="true">
    </ngb-pagination>
  </div>
</div>
