.card {
  width: 340px;
  min-height: 385px;
}

.card h4 {
  margin: 15px;
}

.card .ingredients {
  margin:  0px 15px 85px 15px;
}

.card small {
  margin: 15px;
  bottom: 4px;
  position: absolute;
}

.recipe img {
  height: 230px;
}

button.recipe-categories {
  cursor: pointer;
  margin-left: 0px;
  margin-right: 20px;
  margin-bottom: 20px;
}
