@import '~styles/breakpoints';

div.content {
  padding: 0px 5%;
}

button.recipe-categories {
  cursor: pointer;
  margin: 0px 20px 8px 0px;
}

.recipes {
  padding: 0px;
}

.card {
  width: 340px;
  min-height: 405px;
  @include respond-to('small') {
    width: 100%;
  }
  float: left;
  margin-right: 55px !important;
  margin-bottom: 55px !important;
}

.tall-card {
  min-height: 475px !important;
}

.card h3 {
  margin: 15px;
}

.recipes a {
  color: #007500;
  text-decoration: none;
}

.card .ingredients {
  padding: 0px 15px 15px 15px;
}

.card .ingredients ul {
  padding-left: 25px;
}

.card footer {
  padding: 15px;
  position: absolute;
  @include respond-to('small') {
    position: relative;
  }
  bottom: 0;
  left: 0;
}

.card footer small {
  font-size: 11pt;
}

div.spacer {
  clear: both;
  height: 0px;
}
