div.content {
  padding: 0px 5%;
}

#keywords {
  font-size: 13pt;
  background: #d4e1f7;
}

#categoryButtons {
  margin-left: 20px;
}

button.recipe-categories {
  cursor: pointer;
  margin: 0px 20px 8px 0px;
}

.recipes {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  justify-content: space-between;
}

div.spacer {
  clear: both;
  height: 0px;
}