.card {
  width: 340px;
  min-height: 335px;
}

.card h4 {
  padding: 5px;
}

.card .ingredients {
  padding-bottom: 15px;
}

.card small {
  padding: 5px;
  bottom: 0;
  position: absolute;
}

.recipe img {
  height: 230px;
}

button.recipe-categories {
  cursor: pointer;
  margin-left: 0px;
  margin-right: 20px;
  margin-bottom: 20px;
}
