button.recipe-categories {
  cursor: pointer;
  margin-left: 0px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.recipes-wrapper {
  padding-top: 20px;
}

.card {
  width: 340px;
  min-height: 385px;
}

.card h4 {
  margin: 15px;
}

.recipes a {
  color: #009900;
  text-decoration: none;
}

.card .ingredients {
  margin: 0px 15px 85px 15px;
}

.card small {
  margin: 15px;
  bottom: 4px;
  position: absolute;
}

.recipe img {
  height: 230px;
}

.recipe {
  margin-bottom: 10px;
}

mark {
  display: inline;
  margin: 0;
  padding: 0;
  font-weight: 600;
}
