.navbar {
  background: #f4efe0;
  margin-bottom: 35px;
}

.logo {
  box-sizing: border-box;
  flex-grow: 1;
  opacity: 1;
  display: block;
  float: left;
  height: 100%;
  margin-bottom: 0;
  padding: 0 15px 0 40px;
}

@media (max-width: 186px) {
  .logo {
    padding: 0 15px 0 10px;
  }
}

.logo a {
  flex-direction: row;
  justify-content: flex-start;
}

.nav-link {
  font-size: 18pt;
  font-weight: 600;
  color: #5f5f5f;
}

.nav-link.active {
  color: black;
}