// Screen widths for responsive design breakpoints.
$breakpoints: (
  'x-small': 480px,
  'small': 768px,
  'medium': 992px,
  'large': 1200px
) !default;

@mixin case-of($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}

.navbar {
  background: #f4efe0;
  margin-bottom: 35px;
  padding: 0 5% 0 5%;
}

.logo {
  box-sizing: border-box;
  flex-grow: 1;
  opacity: 1;
  display: block;
  float: left;
  height: 100%;
  margin: 10px 0 10px 0;

  @include case-of('small') {
    width: 100%;
  }
}

@media (max-width: 186px) {
  .logo {
    padding: 0 15px 0 10px;
  }
}

.logo a {
  flex-direction: row;
  justify-content: flex-start;
}

.nav-link {
  font-size: 18pt;
  font-weight: 600;
  color: #5f5f5f;
  padding: 0 0 0 50px;
}

.nav-link.active {
  color: black;
}