<nav class="navbar navbar-light">
  <div class="logo">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active"><img class="img-responsive" src="assets/img/logo.png" alt="KetoHub logo" /></a>
  </div>
  
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/browse" routerLinkActive="active">Recipes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
      </li>
    </ul>
  </div>
</nav>
