@import '~styles/breakpoints';

nav.navbar {
  background: #f4efe0;
  margin-bottom: 15px;
  padding: 15px 5% 15px 5%;
  @include respond-to('small') {
    padding: 0 5% 0 5%;
  }
}

img {
  width: 40%;
  max-width: 186px;
  margin: 10px 0 10px 0;
}

