<div
  [ngClass]="['card', getCardClass()]">
  <a [href]="recipe.url" target="_blank" rel="noopener">
    <img
      [src]="recipe.defaultThumbnailUrl"
      [srcset]="recipe.thumbnailUrls"
      sizes="(min-width: 883px) 340px, 90vw"
      [attr.alt]="recipe.title"
      src="#"
      class="img-responsive card-img-top img-fluid">
  </a>
  <div class="card-block">
    <h3 class="card-title">
      <a [href]="recipe.url" target="_blank" rel="noopener">
        <div innerHTML="{{ recipe.title | highlightedResult : searchKeywords }}"></div>
      </a>
    </h3>
    <div
      *ngIf="matchingIngredients(recipe.ingredients).length > 0"
      class="card-text ingredients">
      <b>Ingredients</b>
      <ul>
        <li
          *ngFor="let ingredient of matchingIngredients(recipe.ingredients)">
          <div innerHTML="{{ ingredient | capitalize | highlightedResult : searchKeywords}}"></div>
        </li>
      </ul>
    </div>
    <footer>
      <small class="text-muted">
        Published {{ recipe.publishedTime | timeSince }} ago on <a [href]="recipe.url" target="_blank" rel="noopener">{{ recipe.url | rootDomain }}</a>
      </small>
    </footer>
  </div>
</div>