<div class="container" ng-controller="ketoHubCtrl" ng-cloak>
  <div class="container">
    <div class="btn-group-lg text-center"
      role="group" aria-label="Recipe categories">
      <button type="button"
              ng-repeat="item in categories"
              ng-click="selectCategory(item)"
              class="btn btn-secondary recipe-categories"
              ng-class="getCategoryClass(item)">
        {{ item | capitalize }}s
      </button>
    </div>
  </div>
  <p>&nbsp;</p>
  <ng-include src="'views/pagination.html'"></ng-include>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <div class="container recipes">
    <div
      class="well"
      ng-repeat="(key, recipe) in recipes | filter:categoryFilterFn | range:currentPage:pageSize">
      <div class="row">
        <div class="col-xs-6 col-md-4">
          <a ng-href="{{ recipe.url }}" target="_blank">
            <img ng-src="{{ recipe.thumbnailUrl }}" alt="{{ recipe.title }}" src="#" class="img-responsive">
          </a>
        </div>
        <div class="col-xs-6 col-md-8">
          <h2>
            <a ng-href="{{ recipe.url }}" target="_blank">
              {{ recipe.title }}
            </a>
          </h2>
          <a ng-href="{{ recipe.url }}" target="_blank">
            <p>{{ recipe.url | rootDomain }}</p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <ng-include src="'views/pagination.html'"></ng-include>
</div>
